-r model/requirements.txt


pip install --upgrade pip
pip install -r requirements.txt

pip install streamlit
pip install joblib
pip install scikit-learn
pip install pandas
pip install numpy
pip install matplotlib
